<div *ngIf="isFormSubmitted">
	<app-matrix [rows]="rows" [noOfColorBoxes]="noOfColorBoxes" [dificulty]="dificulty" [totalBoxes]="totalBoxes"></app-matrix>
</div>

<div *ngIf="!isFormSubmitted">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h2>Game</h2>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label>No of Boxes</label>
						<input type="text" placeholder="enter n*n matrix value between 1-2000" formControlName="noOfBoxes" class="form-control" />
						<div class="text-danger" *ngIf="(form.controls.noOfBoxes.dirty || form.controls.noOfBoxes.touched)">
							<span *ngIf="form.controls.noOfBoxes.invalid && form.controls.noOfBoxes.errors.required">
								No of Boxes Field is Required
							</span>
							<span *ngIf="form.controls.noOfBoxes.invalid && form.controls.noOfBoxes.errors.min">
								Min value should be 0
							</span>
							<span *ngIf="form.controls.noOfBoxes.invalid && form.controls.noOfBoxes.errors.max">
								Max value should be 2000
							</span>
							<span *ngIf="form.controls.noOfBoxes.invalid && form.controls.noOfBoxes.errors.pattern && !form.controls.noOfBoxes.errors.min">
								Enter Only Number Value
							</span>
						</div>
					</div>
					<div class="form-group">
						<label>No of Color Boxes</label>
						<input type="text" placeholder="color boxes value between 1-4000000" formControlName="noOfColorBoxes" class="form-control"
						 [ngClass]="{ 'is-invalid': isFormSubmitted && f.noOfColorBoxes.errors }" />
						<div class="text-danger" *ngIf="form.controls.noOfColorBoxes.dirty || form.controls.noOfColorBoxes.touched">
							<span *ngIf="form.controls.noOfColorBoxes.invalid && form.controls.noOfColorBoxes.errors.required">
								No of Color Boxes is Required
							</span>
							<span *ngIf="form.controls.noOfColorBoxes.invalid && form.controls.noOfColorBoxes.errors.min">
								Min value should be 1
							</span>
							<span *ngIf="form.controls.noOfColorBoxes.invalid && form.controls.noOfColorBoxes.errors.max">
								Max value should be 4000000
							</span>
							<span *ngIf="form.controls.noOfColorBoxes.invalid && form.controls.noOfColorBoxes.errors.pattern && !form.controls.noOfColorBoxes.errors.min">
								Enter Only Number Value
							</span>
						</div>
					</div>
					<div class="form-group">
						<label>Dificulty Level</label>
						<input type="text" placeholder="dificulty level value between 1-5" formControlName="dificultyLevel" class="form-control"
						 [ngClass]="{ 'is-invalid': isFormSubmitted && f.dificultyLevel.errors }" />
						<div class="text-danger" *ngIf="form.controls.dificultyLevel.dirty || form.controls.dificultyLevel.touched">
							<span *ngIf="form.controls.dificultyLevel.invalid && form.controls.dificultyLevel.errors.required">
								No of Color Boxes is Required
							</span>
							<span *ngIf="form.controls.dificultyLevel.invalid && form.controls.dificultyLevel.errors.min">
								Min value should be 1
							</span>
							<span *ngIf="form.controls.dificultyLevel.invalid && form.controls.dificultyLevel.errors.max">
								Max value should be 5
							</span>
							<span *ngIf="form.controls.dificultyLevel.invalid && form.controls.dificultyLevel.errors.pattern && !form.controls.dificultyLevel.errors.min">
								Enter Only Number Value
							</span>
						</div>
					</div>
					<div class="form-group">
						<button [disabled]="!form.valid" class="btn btn-primary">Play Game</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>